header {
    background-color: rgb(30, 34, 51);
    color: white;

}

body {
background-color: rgb(223, 227, 231);

}
.toplane {
    display: flex;
    justify-content: flex-start;
    font-family: sans-serif;

}


.nav {
flex-direction: column-reverse;
justify-content: space-evenly;
padding: auto;
list-style: none;
margin: auto;

}

.midlane {
display: flex;
justify-content: space-evenly;
background-color: rgb(223, 227, 231);
}

.box {
    width: 230px;
    height: 500px;

    border: 5px solid black;
    background-color: rgb(255, 255, 255);
  }

.leftside {
font-family: sans-serif;
justify-content: space-around;


}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(6, 156, 39);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgb(0, 109, 27);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}



.midside {
flex-direction: column;
font-family: sans-serif;

}


.botlane {
display: flex;
flex-direction: column;

}