header {
    background-color: rgb(30, 34, 51);
    color: white;

}

body {
    margin: 0;
background-color: rgb(223, 227, 231);

}

a {
    color:white;
    text-decoration: none;

}

.toplane {
    display: flex;
    justify-content: flex-start;
    font-family: sans-serif;
    align-items: center;
    gap: 20px;
}


.nav {
flex-direction: column-reverse;
justify-content: space-evenly;
padding: auto;
list-style: none;
margin: auto;

}

.midlane {
display: flex;
flex-direction: row;
align-items: flex-start;
background-color: rgb(223, 227, 231);
}

.box {
    width: 220px;
    height: 400px;

    border: 5px solid black;
    background-color: rgb(255, 255, 255);
  }

  .box1
  {
width: 220px;
height: 150;
border: 1px solid black;
background-color: rgb(255, 255, 255);
font-family: sans-serif;
  }

.box2
{
    width: 220px;
    height: 150;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;

}

.box3
{
    width: 220px;
    height: 150;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;

}

.box4e
{
display: flex;
width: 600px;
height: 300px;
border: 3px solid black;
background-color: white;
justify-content: center;
align-items: center;

}

.box5e
{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;

    height: 300px;
    gap: 30px;

}


.box6e
{

    width: auto;
    height: 200px;
    gap: 20px;
}

.box7e
{
width: 300px;
height: 300px;
border: 3px solid black;
margin: 20px;
flex-direction: column;


}

.box8e 
{
width: auto;
height: 30px;
border: 3px solid black;
background-color: rgb(30, 34, 51);

}















.leftside {
font-family: sans-serif;
justify-content: space-around;


}



.midside {
    font-family: sans-serif;
    
}


.botlane {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.botbox {
    width: auto;
    height: 60px;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    
}

.buttons {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 16px; 
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(6, 156, 39);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgb(0, 109, 27);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.style {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 16px; 
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.style:hover {
    background-color: rgb(83, 72, 145);
}

.style:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.styl {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 16px; 
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styl:hover {
    background-color: rgb(207, 207, 207);
}

.styl:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);

}
